<div class="application text-center">
<h1>Submission Accepted, Congrats!</h1>
<p class="lead">Your application was selected for the – Pitch - XPTO to Web Summit competition which will take place 21st September at the Cruzeiros em Matosinhos Terminal. If you have any questions, please send them to the following email address: xxxxx</p>
</div>