<div class="application text-center">
<h1>Application Rejected</h1>
<p class="lead">We regret to inform you that your application was not selected for the XPTO to Web Summit competition. We thank you for your submission and should you have any queries, please don’t hesitate to contact us via the following email address: xxxxx</p>
</div>