<div class="jumbotron" id="jumboland">
      <div class="container text-center">
        <h1><span class="white">Web Summit Application</span></h1>
        <p class="white">The current competition is an initiative by Startup Portugal, promoted by Portugal Ventures in partnership with Web Summit. Join us and become one of the Best of Portuguese Tech.</p>
        <%= link_to "Apply Now", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>When</h2>
          <p>21st September 2016</p>
        </div>
        <div class="col-md-4">
          <h2>Where</h2>
          <p>Cruzeiros de Matosinhos Terminal</p>
       </div>
        <div class="col-md-4">
          <h2>Prizes</h2>
          <p>5 top Best of Portuguese Tech and Alpha Tickets 
60 start-ups to showcase their projects at Web Summit</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© 2016 Portugal Ventures</p>
      </footer>
    </div>