<div class="jumbotron" id="jumboland">
      <div class="container text-center">
        <h1><span class="white">Web Summit Application</span></h1>
        <p class="white">The current competition is an initiative by Startup Portugal in partnership with Web Summit. <br>Join us and become one of the “Best of Portuguese Tech"</p>
        <%= link_to "Apply Now", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        <p></p>
        <p class="white">When: 21st September 2016</p>
        <p class="white">Where: Porto</p>
        <p class="white">Prize: 65 Best of Portuguese Tech</p>
        <p class="white">5 Top Apha Tickets: exhibition stand, 4 tickets, opportunity to access Investor Office Hours, Mentor Hours, Startup University, Startup Workshops, Startup Roundtables and much more for €1,950.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
       
      

      <hr>

      <footer>
        <p>© 2016 Portugal Ventures</p>
      </footer>
    </div>